<section class="">
  <div class="page-content">
    <div class="form-wrapper oval box-shadow">
      <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
        <h4 class="text-center text-pry">Login</h4>
        <p class="gray text-center m-0">Kindly provide your email and password to access portal</p>
        <br />
        <div class="form-group">
          <p class="small">Email</p>
          <input type="text" class="oval-sm form-control form-control-lg" formControlName="email">
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
            <small *ngIf="email.errors.required">
              Email is required.
            </small>
            <small *ngIf="email.errors.email">
              Enter valid email.
            </small>
          </div>
        </div>
        <div class="form-group">
          <a [routerLink]="['/auth/forgot-password']" class="color1 float-right">Forgot Password?</a>
          <p class="small">Password</p>
          <input type="password" class="oval-sm form-control form-control-lg" formControlName="password">
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
            <small *ngIf="password.errors.required">
              Please put your password
            </small>
          </div>
        </div>
        <!-- <a [routerLink]="['/auth/forgot-password']" class="color1 float-right">Forgot Password?</a> -->
        <br />
        <button class="oval-sm btn btn-lg btn-block text-white" type="submit" [disabled]="loading || loginForm.invalid">{{loading ? 'Logging in...' : 'Log
            In'}}</button>
      </form>
     </div>
  </div>
</section>
