<ng-container *ngIf="savings">
  <div class="table-responsive">
    <nz-table nzTemplateMode nzBordered>
      <thead>
        <tr>
          <th nzWidth="60px" class="table-heading"></th>
          <th nzWidth="30%" class="table-heading">Savings Account No.</th>
          <th nzWidth="30%" class="table-heading">Savings Balance</th>
          <th nzWidth="30%" class="table-heading">Maturity Date</th>
          <!-- <th nzWidth="60px"></th> -->
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <img src="assets/images/icon.png" class="table-icon" alt="">
          </td>
          <td>{{savingsData.savings_account_number}}</td>
          <td>{{savingsData.savings_balance | currency : '₦'}}</td>
          <td>{{savingsData.custom_field_1176}}</td>
          <!-- <td>
                <button nz-button nzSize="small" (click)="viewSavings(saving.savings_id)">View</button>
              </td> -->
        </tr>
      </tbody>
    </nz-table>
  </div>
  <br>
  <div class="d-flex align-items-center">
    <!-- <button nz-button nzType="primary" class="d-flex align-items-center btn btn-pry mr-2"
      (click)="showAddInvestMentModal()">Add fund</button> -->
    <!-- <button class="btn btn-dark">Export PDF</button> -->
    <button nz-button nzType="primary" class="d-flex align-items-center btn btn-dark"
      (click)="generatePDF(savingsData.savings_id)"
      [nzLoading]="isLoading">{{isLoading ? 'Exporting' : 'Export as PDF'}}</button>
  </div>
  <br>
  <div class="table-responsive mt-3">
    <nz-table nzTemplateMode nzBordered>
      <thead>
        <tr>
          <th class="table-heading">Date</th>
          <th class="table-heading">Transaction</th>
          <th class="table-heading">Description</th>
          <th class="table-heading">Debit</th>
          <th class="table-heading">Credit</th>
          <th class="table-heading">Balance</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let saving of savingsTransactions">
          <td>{{saving.date}}</td>
          <td>{{saving.transaction === 1? 'Deposit' : saving.transaction === 9? 'Interest' : 'Transfer Out' }}</td>
          <td>{{saving.description}}</td>
          <td class="text-danger">{{saving.debit | currency:'₦'}}</td>
          <td class="text-success">{{saving.credit | currency:'₦'}}</td>
          <td>{{saving.balance | currency:'₦'}}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</ng-container>

<nz-modal #investModal nzWrapClassName="investmentModal" nzClassName="investmentModal" [nzFooter]="null"
  nzMaskClosable="false" nzKeyboard="false" [(nzVisible)]="isVisible" (nzOnCancel)="handleCancel()">
  <div>
    <br>
    <!-- <form [formGroup]="newInvestmentForm">
      <div class="row">
        <div class="col-9">
          <div class="form-group">
            <label for="">Amount</label>
            <input type="text" name="" id="" class="form-control form-control-lg" formControlName="amount">
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="">Duration</label>
            <select name="" id=""  class="form-control form-control-lg" formControlName="duration">
                <option value="6">6 Months</option>
                <option value="12">12 Months</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="">Start Date</label>
            <input type="date" name="" id="" class="form-control form-control-lg" formControlName="investment_start_date">
          </div>
        </div>
      </div>
      <button class="btn btn-pry btn-lg w-75">Add Investment</button>
    </form> -->



    <ng-container *ngIf="applySuccess; else noSuccess">
      <h2 class="font-bold text-pry text-center">Investment Breakdown</h2>
      <br>
      <div class="table-responsive">
        <table class="table table-stripped  table-bordered">
          <!-- <thead>
            <tr>
              <th class="table-heading"></th>
              <th class="table-heading">Percentage (%)</th>
              <th class="table-heading">Due date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let interest of interests; let i = index">
              <th class="p-4 font-1-5">Interest {{i+1}}</th>
              <th class="p-4 font-1-5">{{interest.percent}}</th>
              <td class="p-4 font-1-5">{{interest.duedate}}</td>
            </tr>
          </tbody> -->
          <table class="table table-stripped  table-bordered">
            <tbody>
              <tr>
                <th class="p-4 font-1-5" >Amount</th>
                <td class="p-4 font-1-5">{{investmentAmt | currency:'₦'}}</td>
              </tr>
              <tr>
                  <th class="p-4 font-1-5" >Interest Rate</th>
                  <td class="p-4 font-1-5">{{12 * this.interest}}% per annum ({{this.interest}}% per month)</td>
                </tr>
                <tr>
                    <th class="p-4 font-1-5" >Total Interest</th>
                    <td class="p-4 font-1-5">{{getReturns()  | currency:'₦ '}}</td>
                  </tr>
              <tr>
                <th class="p-4 font-1-5" >Investment Start Date</th>
                <td class="p-4 font-1-5">{{ startdate | date}}</td>
              </tr>
              <tr>
                <th class="p-4 font-1-5" >First Month Interest</th>
                <td class="p-4 font-1-5">{{firstmonthpercent  * investmentAmt | currency:'₦ '}}</td>
              </tr>
              <tr>
                <th class="p-4 font-1-5" >Investment End Date</th>
                <td class="p-4 font-1-5">{{investmentenddate | date}}</td>
              </tr>
              <tr>
                  <th class="p-4 font-1-5" >Subsequent Monthly Interest</th>
                  <td class="p-4 font-1-5">{{percent  * investmentAmt | currency:'₦ '}}</td>
                </tr>
            </tbody>
          </table>
        </table>
      </div>
      <div class="mt-2 d-flex justify-content-center align-items-center">
        <button nz-button nzType="primary" type="button" [nzLoading]="isAccepting" nzSize="large" class="w-75"
        (click)="acceptInvestment()" [disabled]="isAccepting">
        {{isAccepting ? 'Accepting' : 'Accept'}}
        </button>
      </div>
    </ng-container>
    <ng-template #noSuccess>
        <br>
      <ng-container *ngIf="notification.status === 1">
        <div class="mt-4 alert alert-info text-center">
          <p>
            {{notification.message}}
          </p>
        </div>
      </ng-container>
      <div class="alert alert-info text-center">
        <p>
          Please note that adding an investment will automatically extend this current investment maturity date by the
          new selected duration
        </p>
      </div>
      <form *ngIf="notification.status !== 1" nz-form class="investForm" [formGroup]="newInvestmentForm">
        <h2 class="font-bold text-pry text-center">Add Investment</h2>
        <div nz-row nzGutter="16">
          <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" nzOffset="0">
            <nz-form-item class="d-block">
              <nz-form-label class="">Amount</nz-form-label>
              <nz-form-control nzHasFeedback [nzErrorTip]="amountError">
                <input nzSize="large" type="text" formControlName="amount" (input)="changeNum($event)" nz-input
                  class="input w-100" />
                <ng-template #amountError let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Please enter investment amount!
                  </ng-container>
                  <ng-container *ngIf="control.hasError('minAmt')">
                    Loan Amount must not be less than ₦100,000!
                  </ng-container>
                  <ng-container *ngIf="control.hasError('amount')">
                    Invalid Loan Amount!
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" nzOffset="0">
            <nz-form-item class="d-block">
              <nz-form-label class="">Duration</nz-form-label>
              <nz-form-control nzErrorTip="Please select your gender!">
                <nz-select nzAllowClear nzSize="large" class="title-select" formControlName="duration">
                  <nz-option nzLabel="6 months" nzValue="6"></nz-option>
                  <nz-option nzLabel="12 months" nzValue="12"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row nzGutter="16">
          <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" nzOffset="0">
            <nz-form-item class="d-block">
              <nz-form-label class="">Investment Start Date</nz-form-label>
              <nz-form-control nzErrorTip="Please select your start date">
                <nz-date-picker nzShowToday="true" nzSize="large" class="w-100" formControlName="investment_start_date"
                  (ngModelChange)="onChange($event)">
                </nz-date-picker>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div class="mt-2 d-flex justify-content-center align-items-center">
          <button nz-button nzType="primary" type="button" [nzLoading]="isAdding" nzSize="large" class="w-75"
            (click)="addInvestment()" [disabled]="isAdding || newInvestmentForm.invalid">
            {{isAdding ? 'Adding...' : 'Add Investment'}}
          </button>
        </div>
      </form>
    </ng-template>
  </div>
</nz-modal>
