<!-- <nav class="navbar nav-white fixed-top">
    <a class="text-pry font-bolder navbar-brand d-flex align-items-center" href="#">
      <img src="assets/images/logo.png" width="40" height="40" class="d-inline-block align-top mr-1" alt="">
      Credit Wallet
    </a>
  </nav>
<div class="main">
    <router-outlet></router-outlet>
</div> -->
<!-- <nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzTitle="User" nzIcon="user">
        <ul>
          <li nz-menu-item>Tom</li>
          <li nz-menu-item>Bill</li>
          <li nz-menu-item>Alex</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Team" nzIcon="team">
        <ul>
          <li nz-menu-item>Team 1</li>
          <li nz-menu-item>Team 2</li>
        </ul>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="file"></i>
        <span>File</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="isCollapsed = !isCollapsed"></i>
    </nz-header>
    <nz-content>
      <div class="inner-content">
      </div>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout> -->
<nz-layout class="layout">
  <nz-header class="px-2 box-shadow heading d-flex justify-content-between">
    <div class="logo">
      <img src="../../assets/images/logo.png" alt="">
      <span class="d-block ml-2">Credit Wallet</span>
    </div>
    <div class="">
      <!-- <button class="d-md-none" nz-button (click)="openTemplate()"><fa-icon [icon]="faBars"></fa-icon></button>
      <span class="ml-auto d-block">Need help? <a href="tel:+234(0)7085698828"> Call Us +234(0)7085698828</a></span> -->
      <!-- <div class="dropdown">
        <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="text-pry user_title"  >
            <b>firstname lastname!</b>
          </span>
        </span>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div> -->
      <span nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" class="nav-dropdown">
        <span class="avatar">
          <img src="assets/images/user.png" alt="">
        </span>
        <span class="text-pry user_title"  >
          <b>firstname lastname!</b>
        </span>
      </span>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item>Change Password</li>
          <li nz-menu-divider></li>
          <li nz-menu-item>Log out</li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </nz-header>
  <nz-layout class="right-layout">
    <nz-sider>
      <div class="d-flex flex-column h-100">
       <div class="logo">
         <img src="../../assets/images/logo.png" alt="">
         <span class="d-block ml-2">Credit Wallet</span>
       </div>
       <ul class="menu-one" nz-menu nzTheme="dark" nzMode="inline">
         <li nz-menu-item>
           <fa-icon class="mr-2" [icon]="faSignOutAlt"></fa-icon>
           <span>Dashboard</span>
         </li>
         <li nz-menu-item>
           <fa-icon class="mr-2" [icon]="faChartPie"></fa-icon>
           <span>My Investment</span>
         </li>
         <li nz-menu-item>
           <fa-icon class="mr-2" [icon]="faCog"></fa-icon>
           <span>Change Password</span>
         </li>
       </ul>
       <ul class="mt-auto" nz-menu nzTheme="dark" nzMode="inline">
         <li nz-menu-item>
           <fa-icon class="mr-2" [icon]="faSignOutAlt"></fa-icon>
           <span>Log Out</span>
         </li>
       </ul>
      </div>
     </nz-sider>
    <nz-content>
      <div class="inner-content">
     <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>

<ng-template #drawerTemplate let-drawerRef="drawerRef">
  <ul class="mobile-menu">
    <li>
      <fa-icon class="mr-2" [icon]="faSignOutAlt"></fa-icon>
      <span>Dashboard</span>
    </li>
    <li>
      <fa-icon class="mr-2" [icon]="faChartPie"></fa-icon>
      <span>My Investment</span>
    </li>
    <li>
      <fa-icon class="mr-2" [icon]="faCog"></fa-icon>
      <span>Change Password</span>
    </li>
  </ul>
  <br />
</ng-template>

<ng-template #drawerHeaderTemplate>
<div class="drawer_header">
  <img src="../../assets/images/logo.png" alt="">
  <span class="d-block ml-2">Credit Wallet</span>
</div>
</ng-template>

