<nz-layout class="layout">
  <nz-header class="px-2 box-shadow heading d-flex justify-content-between">
    <a class="logo" [routerLink]="['/']" >
      <img src="../../assets/images/logo.png" alt="">
      <span class="d-block ml-2">Credit Wallet</span>
    </a>
    <div *ngIf="userDetails">
      <button nz-button class="d-md-none" (click)="open()">
        <fa-icon class="" [icon]="faBars"></fa-icon>
      </button>
      <span nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" class="nav-dropdown d-none d-md-block">
        <span class="avatar">
          <img src="assets/images/user.png" alt="">
        </span>
        <!-- <span class="text-pry user_title"  >
          <b>{{userDetails}}</b>
        </span> -->
      </span>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item>Change Password</li>
          <li nz-menu-divider></li>
          <li nz-menu-item (click)="logOut()">Log out</li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </nz-header>
  <nz-layout class="right-layout">
    <nz-sider>
      <div class="d-flex flex-column h-100">
       <!-- <div class="logo">
         <img src="../../assets/images/logo.png" alt="">
         <span class="d-block ml-2">Credit Wallet</span>
       </div> -->
       <!-- <ul class="menu-one" nz-menu nzTheme="dark" nzMode="inline">
         <li nz-menu-item [routerLink]="['/dashboard']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact: true}">
           <fa-icon class="mr-2" [icon]="faSignOutAlt"></fa-icon>
           <span>Dashboard</span>
         </li>
         <li nz-menu-item>
           <fa-icon class="mr-2" [icon]="faChartPie"></fa-icon>
           <span>My Investment</span>
         </li>
         <li nz-menu-item [routerLink]="['/change-password']" routerLinkActive="router-link-active">
           <fa-icon class="mr-2" [icon]="faCog"></fa-icon>
           <span>Change Password</span>
         </li>
       </ul> -->
      <div class="side-menu">
        <ul class="side-menu-main">
          <li [routerLink]="['/dashboard']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact: true}">
            <fa-icon class="mr-2" [icon]="faSignOutAlt"></fa-icon>
           <span>Dashboard</span>
          </li>
          <li [routerLink]="['/change-password']" routerLinkActive="router-link-active">
            <fa-icon class="mr-2" [icon]="faCog"></fa-icon>
           <span>Change Password</span>
          </li>
         </ul>
      </div>
       <ul class="mt-auto" nz-menu nzTheme="dark" nzMode="inline">
         <li nz-menu-item (click)="logOut()">
           <fa-icon class="mr-2" [icon]="faSignOutAlt"></fa-icon>
           <span>Log Out</span>
         </li>
       </ul>
      </div>
     </nz-sider>
    <nz-content>
      <div class="inner-content">
     <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
<ng-template #drawerTemplate let-drawerRef="drawerRef">
  <ul class="mobile-menu">
    <li>
      <fa-icon class="mr-2" [icon]="faSignOutAlt"></fa-icon>
      <span>Dashboard</span>
    </li>
    <li>
      <fa-icon class="mr-2" [icon]="faChartPie"></fa-icon>
      <span>My Investment</span>
    </li>
    <li>
      <fa-icon class="mr-2" [icon]="faCog"></fa-icon>
      <span>Change Password</span>
    </li>
  </ul>
  <br />
</ng-template>

<ng-template #drawerHeaderTemplate>
<div class="drawer_header">
  <img src="../../assets/images/logo.png" alt="">
  <span class="d-block ml-2">Credit Wallet</span>
</div>
</ng-template>

<nz-drawer [nzClosable]="false" nzCloseOnNavigation nzWrapClassName="mobile-drawer" [nzVisible]="visible" nzPlacement="right" nzTitle="Menu" (nzOnClose)="close()">
 <div class="d-flex flex-column h-100">
  <div class="mobile-menu">
    <ul class="mobile-menu-main">
      <li [routerLink]="['/dashboard']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact: true}">
        <fa-icon class="mr-2" [icon]="faSignOutAlt"></fa-icon>
       <span>Dashboard</span>
      </li>
      <li [routerLink]="['/change-password']" routerLinkActive="router-link-active">
        <fa-icon class="mr-2" [icon]="faCog"></fa-icon>
       <span>Change Password</span>
      </li>
     </ul>
  </div>
  <ul class="mobile-menu-main mt-auto">
    <li (click)="logOut()" class="text-danger">
      <fa-icon class="mr-2" [icon]="faSignOutAlt"></fa-icon>
      <span>Log Out</span>
    </li>
   </ul>
 </div>
</nz-drawer>

