section {
    background-color: #ffffff;
    // height: calc(100vh - 6rem);
    // background-color: #001529;
    // background-image: -webkit-linear-gradient(105deg, #f56b2a 35%, #f2f2f2 35%);
    // background-image: linear-gradient(105deg, #001529 35%, #f2f2f2 35%);
    background-size: cover;
  
    .page-content {
        display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 100%;
    overflow-y: auto;
  
      .grid-wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 35% 65%;
        grid-template-areas: 1rem;
  
        .grid-left {
          h1{
            font-size: 3rem;
          text-align: left;
          color: white;
          }
        }
  
        
      }
  
      .form-wrapper {
        max-width: 450px;
        margin: auto;
        width: 100%;
        background: white;
        // -webkit-box-shadow: 0px 0px 5px 2px rgba(204,204,204,1);
        // -moz-box-shadow: 0px 0px 5px 2px rgba(204,204,204,1);
        // box-shadow: 0px 0px 5px 2px rgba(204,204,204,1);
        // border-radius: 1rem;
        padding: 1.5rem;
  
        form {
          button {
            background-color: #f56b2a;
          }
        }
      }
  
    }
  }
  