::ng-deep .ant-modal.infoModal{
    border-top: 3px solid #f56b2a;
    width: 40rem !important;

    .table-responsive{
        .table-icon{
            width: 1rem;
        }
    }
}
.username{
  font-size: 1.3rem;
  font-weight: bold;

  span{
    color: #f56b2a;
  }
}
.dashboard_info {
  .info-card-title {
    font-size: 1rem;
  }

  .card {
    background-color: #fff;
    width: 100%;
    border: none;
    border-radius: 1rem;
    padding: 2rem 1rem;

    &__orange {
      border-right: 10px solid #f56b2a;
    }

    &__yellow {
      border-right: 10px solid #F0AD4E;
    }

    &__dark {
      border-right: 10px solid #1B4E63;
    }

    .card-currency {
      font-weight: bolder;
    }

    img {
      max-width: 1.5rem;
      width: 100%;
    }

    .card-item {

      .card-btn {
        border-radius: 2rem;
        // height: 3rem;
      }
    }

    .card-icon-div {
    //   flex: 0 1 10;

      img {
        width: 70%;
      }
    }

    .inv_deets {
      width: 100%;

      .prev-inv {
        margin-top: 1rem;

        // margin-bottom: .5rem;
        small {
          text-transform: capitalize;
        }

        .right-arrow {
          color: grey;
          font-size: .75rem;
        }
      }
    }
  }
}

.savings-table {
  background-color: #fff;
  border: none;
  border-radius: 1rem;
  // background-image: url('../../../assets/images/profit.png');
  background-repeat: no-repeat;
  background-position: right bottom;

  &_border_dark{
    border-right: 10px solid #1B4E63;
  }

  .card-header {
    border: none;
    background-color: #fff;

    .card-title {
      font-size: 1.2rem;
      font-weight: 500;
      letter-spacing: .05rem;
      text-transform: capitalize;
    }
  }
  .table-header-action{
    // padding: .75rem 1.25rem;
    margin-bottom: 1rem;
  }

  .table {
    background-color: white;
  }

  .table-icon{
      width: 1rem;
  }

  .card-body{
    .investment__btn{
      padding: 3.5rem;
      text-align: center;

      &--add{
        &:hover{
          transition: all .25s ease;
          transform: scale(1.1);
        }
      }
    }
  }
}
